<div class="dashboardStyle">
<div class="row" style="font-weight:bold; font-size:20px;">
  Global Settings
</div>
<hr/>
<div class="row">
  <div class="col-lg-3 col-md-3">
      <app-dash-board-alert alertText="CURRENCIES" navUrl="currency" [alertCount]="dashboardCount.CurrencyCount" class="alertBox"></app-dash-board-alert>
  </div>
  <div class="col-lg-3 col-md-3">
      <app-dash-board-alert alertText="LANGUAGES" navUrl="language" [alertCount]="dashboardCount.LanguageCount" class="alertBox"></app-dash-board-alert>
  </div>
  <div class="col-lg-3 col-md-3">
      <app-dash-board-alert alertText="USERS" navUrl="users" [alertCount]="dashboardCount.UsersCount" class="alertBox"></app-dash-board-alert>
  </div>
  <div class="col-lg-3 col-md-3">
      <app-dash-board-alert alertText="COUNTRIES" navUrl="country" [alertCount]="dashboardCount.CountryCount" class="alertBox"></app-dash-board-alert>
  </div>
  </div>
  <div class="row" style="margin-top:20px;">
      <div class="col-lg-3 col-md-3">
          <app-dash-board-alert alertText="CLIENTS" navUrl="language" [alertCount]="dashboardCount.ClientsCount" class="alertBox"></app-dash-board-alert>
      </div>
      <div class="col-lg-3 col-md-3">
          <app-dash-board-alert alertText="ADDRESSES" navUrl="address" [alertCount]="dashboardCount.AddressesCount" class="alertBox"></app-dash-board-alert>
      </div>
      <div class="col-lg-3 col-md-3">
          <app-dash-board-alert alertText="INVENTORIES" navUrl="language" [alertCount]="dashboardCount.InventoryCount" class="alertBox"></app-dash-board-alert>
      </div>
      
</div>

</div>